// TODO

.content{

    padding-top: 3rem;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;

    .loadPosts{
        font-weight: 600;
        color: var(--highlight);

        text-align: left;
        background: transparent;
        border:none;

        cursor:pointer;
    }
}

.post{
    
    width: 50%;
    margin-bottom: 4rem;
    align-items: center;

    h1{
        font-size: 1.75rem;
        line-height: 3rem;
        font-weight: 700;

        transition: color 0.2s;
        &:hover{
            color: var(--body)
        }
    }
    strong{
        font-weight: 400;
        line-height: 1rem;
        font-size: 1.125rem;
    }


    .info{
        margin-top: 1rem;

        color:var(--info);
        font-size: 0.85rem;

        display: flex;

        div{
            span,time{
                margin-left: 0.5rem;
            }
        }
        .author{
            margin-left: 1rem;
        }
        
    }


}
